.#{prefix(null, 'tag')} {
  display: inline-block;
  width: 26px;
  padding: 4px 0;

  &.--websites {
    @include ci-websites;
  }

  &.--stories {
    @include ci-stories;
  }

  &.--ads {
    @include ci-ads;
  }

  &.--email {
    @include ci-e-mails;
  }

  &.--daily-care {
    @include ci-daily-care;
  }

  &.--daily-food {
    @include ci-daily-food;
  }

  &.--electronic-label {
    @include ci-electronic-label;
  }

  &.--export-import-data {
    @include ci-export-import-data;
  }

  &.--food-data-institute {
    @include ci-food-data-institute;
  }

  &.--ontomatica {
    @include ci-ontomatica;
  }

  &.--general {
    color: color('white');
    background: color('blue-ribbon');
  }
}
