---
$title: Knowledge graph applications for industry, science and government
$view: /views/2021/base.html
$titles:
  navigation: Start
description: Knowledge graph applications for industry, science and government.

format_explainer:
  - name: websites
    headline: Ontomatica
    description: "Creating machine-readable information about foods, drugs, cosmetics, textiles, chemicals and commodities for selling in local, national and international markets."
    link: "All about Ontomatica"
    url: /
  - name: stories
    headline: DailyFood
    description: "Serving detailed information about human food and meals, pet food and animal feed in machine-readable format. Storing intake history in your personal Biograph - companion to your Electronic Health Record."
    link: "All about DailyFood"
    url: /
  - name: daily-care
    headline: DailyCare
    description: "Serving detailed information about cosmetics, textiles, and household chemicals in machine&#x2010;readable format. Storing exposure and contact history in your personal Biograph."
    link: "All about DailyCare"
    url: /
  - name: email
    headline: Export Import Data
    description: "Creating electronic Product Passports for presentation to government organizations administering border control policies and tariffs."
    link: "All about Export Import Data"
    url: /

cards:
  - icon: icon-ontomatica
    headline: Simplify development of knowledge graph applications
    text: "Develop applications using structured data and functional programming. Share data using curated data definitions and datasets. Improve dataset quality using visualization and machine-reasoning. Keep everything synchronized using Plato (Platform for ontologies)."
  - icon: icon-daily-food
    headline: Monitor food & drug biochemistry
    text: "Monitor component intake over days, weeks, months, and years using electronic data about food and drugs. Query composition and formulation information that is not available on printed labels. Pet owners monitor food and medicine for their companions. Determine links between food intake and health outcomes."
  - icon: icon-daily-care
    headline: Monitor cosmetics, textile & household chemical biochemistry
    text: "Monitor use and exposure to components over days, weeks, months, and years using electronic data about cosmetics, textiles and household chemicals. Query chemical and fiber information that is not available on a printed label. Determine links between use/exposure and health outcomes."
  - icon: icon-electronic-label
    headline: Define product identity and impede counterfeits
    text: "Use electronic product identity to impede counterfeit products and claims. Create a new label by combining existing labels and adding new information. Improve machine-automation by using structured data to control machine-operations. Example: agriculture equipment calibrated by chemical formulations and environmental conditions."
  - icon: icon-export-import-data
    headline: Be a friend to Authorities
    text: "Product Passport is a companion to paper documents such as an Invoice, Bill of Lading, and Material Safety Data Sheet. Authorities have specific local rules and tariffs. Examples: USA/California, European Union, Great Britain, Saudi Arabia, India. Product Passport enables automated verification of global and local rules for imports and exports."
  - icon: icon-fdi
    headline: Open standards & open data research
    text: "Transform data from individual scientific studies into shared data repositories. Discover new solutions by comparing data from multiple studies. National organizations synchronize local and international research. Example: FDI-USA shares data with FDI-CAN (Canada), FDI-GBR (Great Britain), FDI-SAU (Saudi Arabia), FDI-IND (India), and others."

success_stories:
  - !g.doc /content/amp-dev/runner/success-stories/washingtonpost.yaml
  - !g.doc /content/amp-dev/runner/success-stories/teads.yaml
  - !g.doc /content/amp-dev/runner/success-stories/carved.yaml
  - !g.doc /content/amp-dev/runner/success-stories/wompmobile.yaml
---

<main class="ap--main">
  <section class="ap-home-stage">

    <div class="ap-home-stage-logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
        <path d="M18 11.38a4 4 0 0 0-3.51-3.88 5.1 5.1 0 0 0-5.25-4.88A5.25 5.25 0 0 0 4.22 6 4.8 4.8 0 0 0 0 10.67a4.9 4.9 0 0 0 5.07 4.71h8.65a.78.78 0 0 0 .22 0 4.1 4.1 0 0 0 4.06-4Z" style="fill:#e1eb64; stroke:#09a600; stroke-width: 0.12"/>
        <path d="M5.42 10.39h-.88a1.09 1.09 0 1 0 0 .49h.88a.2.2 0 0 1 .2.2v4.3h.49v-4.3a.69.69 0 0 0-.69-.69Zm-1.95.88a.64.64 0 1 1 .64-.64.64.64 0 0 1-.64.64Z" style="fill:#c80000"/>
        <path d="M8.94 10.61v-1a.7.7 0 0 0-.7-.7H6.69a.2.2 0 0 1-.2-.2V3.4l-.23.12-.26.14v5a.69.69 0 0 0 .69.69h1.55a.21.21 0 0 1 .21.21v1a1.08 1.08 0 0 0-.85 1.06 1.09 1.09 0 1 0 1.34-1.06Zm-.25 1.7a.64.64 0 1 1 .64-.64.64.64 0 0 1-.64.64Z" style="fill:#5500d7"/>
        <path d="M14.53 8.5a1.09 1.09 0 0 0-.25 2.15v.2a.21.21 0 0 1-.21.21h-2V7.54a.69.69 0 0 0-.69-.69h-1.03A1.08 1.08 0 0 0 9.29 6a1.09 1.09 0 1 0 1.06 1.34h1.07a.2.2 0 0 1 .2.2v7.84h.49v-3.83h2a.7.7 0 0 0 .7-.7v-.2a1.09 1.09 0 0 0 .85-1.06 1.09 1.09 0 0 0-1.13-1.09Zm-5.24-.77a.64.64 0 1 1 .64-.64.64.64 0 0 1-.64.64Zm5.24 2.5a.64.64 0 1 1 .63-.64.64.64 0 0 1-.63.64Z" style="fill:#1f64ff"/>
      </svg>
    </div>

    <div class="ap-home-stage-text">
      <h1 class="ap-h1">{{ _('Knowledge graph applications for industry, science and government.') }}</h1>
    </div>
  </section>
  <section class="ap-formats">
    <aside class="ap-formats-navigation">
      <div class="ap-formats-navigation-wrapper">
        {% for format in doc.format_explainer %}
        <amp-animation id="switchIcon-{{ format.name }}" layout="nodisplay">
          <script type="application/json">
            {
              "duration": "500ms",
                "fill": "both",
                "animations": [
                  {
                      "selector": ".ap-formats-navigation-icon.active.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            },
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            }
                        ]
                    },
                    {
                      "selector": ".ap-formats-navigation-icon.inactive.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            },
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            }
                        ]
                    }
                ]
            }
          </script>
        </amp-animation>
        <button class="ap-formats-navigation-icon-wrapper" on="tap:ap-formats-format-{{ format.name }}.scrollTo(duration=300)">
          <div class="ap-formats-navigation-icon inactive {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
          <div class="ap-formats-navigation-icon active {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
        </button>
        {% endfor %}
      </div>
    </aside>
    {% set initial_format = doc.format_explainer[0].name -%}
    {% for format in doc.format_explainer %}
    <div class="ap-formats-format {{ format.name }}" id="ap-formats-format-{{ format.name }}">
      <amp-position-observer on="enter:switchIcon-{{ format.name }}.start;exit:switchIcon-{{ format.name }}.start,switchIcon-{{ format.name }}.reverse" intersection-ratios="0.9" layout="nodisplay">
      </amp-position-observer>
      <div class="ap-formats-background">
        <svg amp-fx="parallax" data-parallax-factor="0.95"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
      </div>
      <div class="ap-formats-format-content">
        {% do doc.icons.useIcon('/icons/amp-' + format.name + '.svg') %}
        <div class="ap-formats-logo">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
        </div>
        <h1>{{ _(format.headline) }}</h1>
        <h5 class="ap-h5">{{ _(format.description) }}</h5>
        {% with %}
          {% set href = format.url %}
          {% set text = _(format.link) %}
          {% include '/views/2021/partials/content/link.j2' %}
        {% endwith %}
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="ap-center-stage">
    <div class="ap-center-stage-content">
      <h2 class="ap-h2">{{ _("New information technology should aspire to accomplish two goals:") }}</h2>
      <h3 class="">
        {{ _("Take an existing business process and significantly reduce its total cost of implementation.") }}
      </h3>
      <h3 class="">
        {{ _("Develop new, productive habits among consumers.") }}
      </h3>
      <h2 class="ap-h2">
        {{ _("Consortium members aspire to accomplish both goals.") }}
      </h2>
    </div>
  </section>

  <section class="ap-cards">
    <div class="ap-cards-grid" role="list">
      {% for card in doc.cards %}
      <div class="ap-cards-item" role="listitem">
        <svg class="ap-cards-item-icon" width="30" height="30">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/static/frontend/sprite.svg#{{ card.icon }}"
          ></use>
        </svg>

        <h3>{{ card.headline }}</h3>
        <p>{{ card.text }}</p>
      </div>
      {% endfor %}
    </div>

    <amp-base-carousel
      id="cards-carousel"
      class="ap-cards-carousel"
      role="list"
      layout="fixed-height"
      height="350"
      controls="never"
      on="slideChange:cards-carousel-pagination.toggle(index=event.index, value=true)"
    >
      {% for card in doc.cards %}
      <div class="ap-cards-item-wrapper">
        <div class="ap-cards-item" role="listitem">
          <svg class="ap-cards-item-icon" width="30" height="30">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/static/frontend/sprite.svg#{{ card.icon }}"
            ></use>
          </svg>

          <h3>{{ card.headline }}</h3>
          <p>{{ card.text }}</p>
        </div>
      </div>
      {% endfor %}
    </amp-base-carousel>
    <amp-selector class="ap-cards-carousel-pagination" id="cards-carousel-pagination" layout="container" on="select: cards-carousel.goToSlide(index=event.targetOption)">
      {% for card in doc.cards %}
        <div class="ap-cards-carousel-pagination-item" option="{{ loop.index0 }}" {% if loop.index0==0 %}selected{% endif
          %}></div>
      {% endfor %}
    </amp-selector>
  </section>
  <section class="ap-intro ap-section --col-right">
    <div class="ap-text-block">
      <h1>{{ _('Learn more about knowledge graph applications') }}</h1>
      <p>{{ _('Read case studies from industry, science and government.') }}</p>
      {% with %}
        {% set square = true %}
        {% set href = "runner/success-stories/index.html" %}
        {% set text = _("See all case studies") %}
        {% include '/views/2021/partials/content/link.j2' %}
      {% endwith %}
    </div>
  </section>

  {% set slider_id = 'success-stories' %}
  {% set teaser_docs = doc.success_stories %}
  {% include '/views/2021/partials/teaser-slider.j2' %}
</main>
